<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="smtp-server" value="smtp.gmail.com"/>
    <add key="smtp-port" value="587"/>
    <add key="user" value="em@gmail.com"/>
    <add key="password" value="pwd!"/>
  </appSettings>
</configuration>